*{
	font-family: Montseerat;
}
/*Navbar Stlye*/
 #navbar_style{
 	padding: 30px;
 }

/*Strategy section*/
 #digital_strategy{
	margin-top: 50px;
}

 .strategy-column{
    padding: 20px;
    text-align: center;
}

  .Strategy-content{
	  margin-top: 20px;
}

/*gallery section*/
 #gallery{
   margin-top: 100px;
}
.img-container{
	text-align: center;
}

button{
	margin-top: 100px;
}

/*Footer style*/
 footer{
 	padding: 20px;
 	background-color: black;
 	color: white;
    margin-top: 50px;
}
.footer-links{
	color: white;
}
